<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title inline-element">Ticket</h5>
        </div>
        <div class="card-body">
        </div>
      </div>
    </div>
  </div>
<div class="row">
	<div class="col-8">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title text-primary font-bold">Raise New Ticket</h4>
				<div class="mb-3">
					<label for="exampleFormControlInput1" class="form-label">Subject</label>
					<input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
				</div>
				<div class="mb-3">
					<label for="exampleFormControlTextarea1" class="form-label">Description</label>
					<textarea style="height: 760px;" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
				</div>
				<div class="mb-3">
					<label for="exampleFormControlInput1" class="form-label">Attachment</label>
					<input type="file" class="form-control" id="exampleFormControlInput1" placeholder="">
				</div>

				<button type="submit" class="btn btn-primary">Submit</button>

			</div>
		</div>
	</div>
	<div class="col-4">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title text-primary font-bold">Recent Ticket</h4>
				<div class="">
					<img class="card-img-top img-responsive" src="assets/img/header.jpg" alt="Card image cap">
					<div class="card-body">
						<h6 class="card-title">Subject</h6>
						<p class="card-text">Can't Submit Profile
						</p>
						<div class="card-body">
							<h6 class="card-title">Description</h6>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk
								of
								the card's content.</p>
							<a href="#" class="btn btn-primary">View</a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>