<div class="row d-flex justify-content-center">
    <div class="col-md-10">
        <div class="card">
          <h4 style="text-align: center;">Masters</h4>
            <div class="card-body">
                <p class="text-uppercase d-flex justify-content-between blue-text cursor-pointer" (click)="navigateToMaster(4)">
                    <span><i class="fas fa-building"></i> Location Master</span>
                    <span> <i class="fa fa-angle-right"></i></span>
                </p>
                <hr class="solid">
                <p class="text-uppercase d-flex justify-content-between blue-text cursor-pointer" (click)="navigateToMaster(0)">
                   <span> <i class="fas fa-user"></i> Branch Master</span> 
                   <span><i class="fa fa-angle-right"></i></span>
                </p>
                <hr class="solid">
                <p class="text-uppercase d-flex justify-content-between blue-text cursor-pointer" (click)="navigateToMaster(3)">
                    <span><i class="fas fa-building"></i> Industry Master</span>
                    <span> <i class="fa fa-angle-right"></i></span>
                </p>
                <hr class="solid">
                <p class="text-uppercase d-flex justify-content-between blue-text cursor-pointer" (click)="navigateToMaster(1)">
                    <span><i class="fas fa-building"></i> Company Master</span>
                    <span> <i class="fa fa-angle-right"></i></span>
                </p>
                <hr class="solid">
                <p class="text-uppercase d-flex justify-content-between blue-text cursor-pointer" (click)="navigateToMaster(2)">
                    <span><i class="fas fa-building"></i> Designation Master</span>
                    <span> <i class="fa fa-angle-right"></i></span>
                </p>
                <hr class="solid">
                <p class="text-uppercase d-flex justify-content-between blue-text cursor-pointer" (click)="navigateToMaster(2)">
                    <span><i class="fas fa-building"></i> Department Master</span>
                    <span> <i class="fa fa-angle-right"></i></span>
                </p>
                <hr class="solid">
                <p class="text-uppercase d-flex justify-content-between blue-text cursor-pointer" (click)="navigateToMaster(5)">
                    <span><i class="fas fa-building"></i> Role Master</span>
                    <span> <i class="fa fa-angle-right"></i></span>
                </p>
                <hr class="solid">
                
            </div>
      </div>
    </div>
</div>