<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title inline-element">Upload Materials</h5>
        <span class="right-align-btn">
          <!-- <button type="button" class="btn btn-outline-danger flex-col justify-content-md-end"
          (click)="navigateBack()">
          <span style="padding: 0px 10px 10px 0px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                      d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z" />
              </svg>
          </span>
          Back</button> -->
        </span>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="row m-3">
    <div class="col-lg-12 form-group form-field-group">
      <label class="label" for="upload-title">
        <span class="required-field">*Title</span>
      </label>
      <div class="form-input-field" data-validation-info="Enter the title"
        [ngClass]="{'form-invalid-input' : (isMasterValidate && !materialMaster.title)}">
        <input id="upload-title" type="text" class="form-control" autocomplete="off" [(ngModel)]="materialMaster.title"
          maxlength="100" />
      </div>
    </div>
  </div>
  <div class="row m-3">
    <div class="col-lg-12 form-group form-field-group">
      <label class="label" for="upload-title">
        <span class="required-field">*Sub-Title</span>
      </label>
      <div class="form-input-field" data-validation-info="Enter the title"
        [ngClass]="{'form-invalid-input' : (isMasterValidate && !materialMaster.subtitle)}">
        <input id="upload-subtitle" type="text" class="form-control" autocomplete="off"
          [(ngModel)]="materialMaster.subtitle" maxlength="100" />
      </div>
    </div>
  </div>

  <div class="row m-3">
    <div class="col-lg-4 form-group form-field-group">
      <label class="label" for="employee-firstName">
        <span class="required-field">Industry</span>
      </label>
      <div class="form-input-field" data-validation-info="Enter the category"
        [ngClass]="{'form-invalid-input' : (isMasterValidate && !materialMaster.industry)}">
        <select id="inputState" class="form-select" [(ngModel)]="materialMaster.industry">
          <option value="" disabled selected>Select Industry</option>
          <option value="1">Chemical Industry</option>
          <option value="2">Oil Indusrty</option>
          <option value="3">Iron Industry</option>
          <option value="4">Nuclear Industry</option>
        </select>
      </div>
    </div>
    <div class="col-lg-4 form-group form-field-group">
      <label class="label" for="facultyfacultyname">
        <span class="required-field">Department</span>
      </label>
      <div class="form-input-field" data-validation-info="Enter the category"
        [ngClass]="{'form-invalid-input' : (isMasterValidate && !materialMaster.department)}">
        <select id="inputState" class="form-select" [(ngModel)]="materialMaster.department" disabled>
          <option *ngFor="let derpartment of departmentList" [value]="derpartment.Id">{{derpartment.deptName}}</option>
        </select>
      </div>
    </div>
    <div class="col-lg-4 form-group form-field-group">
      <label class="label" for="employee-firstName">
        <span class="required-field">*Language</span>
      </label>
      <div class="form-input-field" data-validation-info="Enter the language"
        [ngClass]="{'form-invalid-input' : (isMasterValidate && !materialMaster.language)}">
        <select id="inputState" class="form-select" [(ngModel)]="materialMaster.language">
          <option value="" disabled selected>Select Language</option>
          <option value="tamil">Tamil</option>
          <option value="english">English</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row m-3">
    <div class="col-lg-12 form-group form-field-group">
      <label class="label" for="upload-shortDescription">
        <span class="required-field">*Short Description</span>
      </label>
      <div class="form-input-field" data-validation-info="Enter the shortDescription"
        [ngClass]="{'form-invalid-input' : (isMasterValidate && !materialMaster.shortDescription)}">
        <input id="upload-shortDescription" type="text" class="form-control" autocomplete="off"
          [(ngModel)]="materialMaster.shortDescription" maxlength="100" />
      </div>
    </div>
  </div>
  <div class="row m-3">
    <div class="col-lg-12 form-group form-field-group">
      <label class="label" for="upload-shortDescription">
        <span class="required-field">*Overview</span>
      </label>
      <div class="form-input-field" data-validation-info="Enter the overview"
        [ngClass]="{'form-invalid-input' : (isMasterValidate && !materialMaster.overview)}">
        <!-- <quill-editor id="upload-overview" type="text" class="form-control" autocomplete="off"
          [(ngModel)]="materialMaster.overview" [styles]="{height: 'calc(50vh - 125px)'}"></quill-editor> -->
      </div>
    </div>
  </div>

  <div class="text-center">
    <h6>Or</h6>
  </div>
  <div class="row m-3">
    <div class="col-md-12">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"> Upload Overview</label>
        <input type="file" class="form-control" (change)="overviewAttachmentchanger($event.target.files)"
          accept=".pdf" id="exampleFormControlInput1" placeholder="">
      </div>
    </div>
  </div>

  <div class="row m-3">
    <label class="label" for="employee-firstName">
      <h6 class="required-field">*Graphics Upload</h6>
    </label>
  </div>

  <div class="file-upload-container cursor-pointer" appDnd (fileDropped)="onFileDropped($event)">
    <input type="file" #fileDropRef id="fileDropRef" accept=".jpg,.png,.mp4,.jpeg" multiple
      (change)="fileBrowseHandler($event.target.files)" />
    <img src="assets/icons/file-upload.png" alt="">
    <h3>Drag and drop file here</h3>
    <h3>or</h3>
    <label for="fileDropRef">Browse for file</label>
  </div>
  <div class="files-list" *ngIf="videoFile.name != null">
    <div class="single-file">
      <img src="assets/icons/folder-icon.svg" width="30px" alt="file">
      <div class="info">
        <h4 class="name">
          {{ videoFile?.name }}
        </h4>
        <p class="size">
          {{ formatBytes(videoFile?.size) }}
        </p>
        <app-progress [progress]="videoFile?.progress"></app-progress>
      </div>
      <img src="assets/icons/delete-icon.svg" class="delete" width="20px" alt="file" (click)="deleteFile(i)">
    </div>
  </div>
  <div class="form-submit-btn">
    <!-- <button class="btn btn-wd btn-round btn-outline-success mr-3" (click)="reset()">
      <span>Reset</span>
      <span>
        <img src="assets/icons/refresh-outline-ico.svg" class="btn-icon" alt="reset">
      </span>
    </button> -->
    <button class="btn btn-wd btn-round btn-save" (click)="saveMaterials()">
      <span>Save</span>
      <span>
        <img src="assets/icons/save-outline-ico.svg" class="btn-icon" alt="save">
      </span>
    </button>
  </div>
</div>
