$required-label-color: #ef2828;
$form-label-color: #3b424a; //  #abafbf; // #6b6f80;

$field-readonly-color: #f2f7fb;

.form-control {
    font-size: 0.9rem;
    line-height: 1.75;
    font-family: var(--app-font-family);
    &::placeholder {
        transition: all 0.2s ease-in;
        font-size: 14px;
    }
    // &::placeholder,
    // &::-moz-placeholder,
    // &::-webkit-input-placeholder,
    // &:-ms-input-placeholder {
    //     transition: padding 0.5s ease;
    // }
    &:focus {
        // box-shadow: none;
        border: 1px solid #ccc;
        box-shadow: inset 0 0 0.5px 0.5px #ccc;
        &::placeholder {
            -webkit-transform: translate(8px);
            transform: translate(8px);
        }
        // &::placeholder,
        // &::-moz-placeholder,
        // &::-webkit-input-placeholder,
        // &:-ms-input-placeholder {
        //     -webkit-transform: translate(5px);
        //     transform: translate(5px);
        // }
    }
}

.form-container {
    // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //
    // * * * * * * * * * *      Form Layout       * * * *  * * * * * //
    // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //
    .table-card-container {
        padding: 16px;
        background: #fff;
        border-radius: 4px;
        box-shadow: 0 4px 12px 0 rgb(34 41 47 / 10%);
        min-height: 67vh;
    }
    .form-card-container {
        background: #fff;
        border-radius: 5px;
        padding: 15px;
        padding-top: 0;
        // margin-left: -15px;
        // margin-right: -15px;
        margin-bottom: 16px;
        .form-card-header {
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            padding: 4px 15px;
            border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
            margin-bottom: 8px;
        }
        .form-card-header-with-content {
            padding: 4px 15px;
            border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
            margin-bottom: 8px;
            width: 100%;
        }
        .card-head {
            border-radius: 2px 2px 0 0;
            padding: 2px;
            /* text-transform: uppercase; */
            color: #3a405b;
            font-size: 18px;
            font-weight: 600;
            line-height: 40px;
            min-height: 40px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin: 0;
        }
        .form-card-sub-header {
            padding: 4px 0;
            .card-head {
                line-height: 24px;
                min-height: auto;
                font-size: 16px;
            }
        }
        .header-content-container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-end;
            height: 100%;
            .number-container {
                margin-right: 24px;
            }
            .calendar-container {
                position: relative;
                .date-container {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    input {
                        width: 170px;
                        border: 0;
                        font-weight: 500;
                    }
                    input[type="date"] {
                        width: 144px;
                    }
                    input:focus {
                        outline: none;
                        box-shadow: none;
                    }
                    input.form-control:disabled,
                    input.form-control[readonly] {
                        background: transparent;
                    }
                }
                .icon {
                    margin-left: 10px;
                }
            }
            .label {
                font-weight: 400;
            }
            .text {
                font-weight: 500;
            }
        }
    }

    // border - 0
    .input-like-label {
        border: 0;
    }
    .input-like-label:focus {
        outline: none;
        box-shadow: none;
    }
    .input-like-label.form-control:disabled,
    .input-like-label.form-control[readonly] {
        background: transparent;
    }

    // .label-like-input{

    // }

    // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //
    // * * * * * * * * * * Image Choose Container * * * *  * * * * * //
    // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //

    // .image-choose-container {
    //     position: relative;
    //     input[type="file"] {
    //         display: none;
    //     }
    //     .image-container-card {
    //         width: 100%;
    //         border: 2px dashed rgba(0, 0, 0, 0.3);
    //         margin-top: 30px;
    //         cursor: pointer;
    //         display: block;
    //         overflow: hidden;
    //         transition: all 2s ease-in;
    //         .image-container-image-card {
    //             text-align: center;
    //             padding: 16px;
    //             height: 256px;
    //             position: relative;
    //             display: flex;
    //             flex-wrap: wrap;
    //             justify-content: center;
    //             align-items: center;
    //             img {
    //                 min-width: 200px;
    //                 min-height: 200px;
    //                 // max-height: 100%;
    //                 // max-width: 100%;
    //             }
    //         }
    //     }
    //     .image-remove-icon {
    //         position: absolute;
    //         bottom: 12px;
    //         left: 0;
    //         width: 100%;
    //         text-align: center;
    //         a {
    //             color: #ef2828;
    //             border-radius: 12%;
    //             padding: 8px 16px;
    //             background: #fff;
    //             box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
    //             cursor: pointer;
    //             display: none;
    //         }
    //     }
    // }
    // .image-choose-container:hover {
    //     .image-remove-icon {
    //         a {
    //             display: initial;
    //         }
    //     }
    // }

    // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //
    // * * * * * * * * * Input Field Label styles * * * *  * * * * * //
    // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //

    .form-field-group {
        margin-bottom: 0.5rem;
        label {
            color: $form-label-color;
            margin-bottom: 5px;
            &.form-control {
                color: initial;
                height: 5vh;
                min-height: 36px;
                background-color: $field-readonly-color;
            }
        }

        .required-field {
            padding-left: 8px;
            color: $required-label-color;
        }
        .form-input-field,
        .form-input-field-col {
            textarea {
                height: 112px;
            }
            textarea.auto {
                height: auto;
            }
            textarea.second-box {
                height: 60px;
            }
            textarea.single-box {
                height: 40px;
            }
            // &.date-field {
            //     .form-control {
            //         width: 144px;
            //     }
            // }
        }
        span.form-control {
            background-color: $field-readonly-color;
        }
    }

    .form-horizontal-group {
        align-items: center;
        // for row
        display: flex;
        flex-wrap: wrap;
        // margin-right: -15px;
        // margin-left: -15px;

        label.col-form-label {
            text-align: left;
        }
    }

    // space between
    .toggle-form-group {
        padding: 4px 0;
    }

    .form-group {
        margin-bottom: 0.5rem;
    }
}

.form-date-field {
    .form-control {
        width: 144px;
        text-align: center;
    }
}

.form-invalid-input,
.form-invalid-date {
    position: relative;
}
.form-invalid-input::before {
    content: attr(data-validation-info);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    // border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 5px;
    pointer-events: none;
    // font-family: Poppins-Regular;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}
.form-invalid-input::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content: "\26A0";
    // content: "\f05a";
    // font-family: FontAwesome;
    font-size: 16px;
    color: #c80000;
    display: block;
    position: absolute;
    background-color: #fff;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 10px;
}

.form-input-field-col.form-invalid-input::after {
    right: 25px;
}
.form-invalid-input:hover:before {
    visibility: visible;
    opacity: 1;
}
.form-invalid-input input,
.form-invalid-input textarea {
    border-bottom: 2px solid #c80000;
}
.form-invalid-date input,
.form-invalid-date textarea {
    border-bottom: 2px solid #c80000;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: $field-readonly-color;
    opacity: 1;
}

.form-check label,
.form-check .form-check-input {
    cursor: pointer;
}

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //
// * * * * * * * * * * * Form Button Container * * * *  * * * * * //
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //

.form-button-container {
    position: relative;
}
.form-button-container.button-loader-right {
    .btn {
        padding-right: 40px;
        position: relative;
        pointer-events: none;
    }
}
.form-button-container.button-loader-left {
    .btn {
        padding-left: 40px;
        position: relative;
        pointer-events: none;
    }
}
.form-button-container.button-loader-right,
.form-button-container.button-loader-left {
    .btn::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        right: 8px;
        top: 8px;
        vertical-align: text-bottom;
        // border: .25em solid currentColor;
        border: 3px solid currentColor;
        border-right-color: transparent;
        border-radius: 50%;
        -webkit-animation: spinner-border 0.75s linear infinite;
        animation: spinner-border 0.75s linear infinite;
    }
}

.button-align-bottom {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    align-items: flex-end;
    margin-bottom: 0.5rem;
}

.spinner-border{    
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: -0.125em;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: 0.75s linear infinite spinner-border;
    animation: 0.75s linear infinite spinner-border;
}
.filter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    .input-container,
    .input-date-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        .date-field-div {
            width: 140px;
            input {
                padding-left: 6px;
            }
            label {
                color: #abafbf;
                margin-bottom: 5px;
            }
            &:first-child {
                margin-right: 16px;
            }
        }
        .form-table-filter-container {
            width: 100%;
        }
        // margin-right: 16px;
    }
    // .input-date-container {
    //     max-width: 228px;
    // }
    // .input-container {
    //     max-width: 200px;
    // }
    .input-container,
    .input-date-container {
        width: 100%;
    }
    .filter-button-container {
        width: 100%;
        text-align: center;
        // padding-top: 28px;
        button {
            width: 100%;
        }
    }
}

@media only screen and (min-width: 576px) {
    // container width : 540px
    .filter-container {
        justify-content: flex-start;
        .input-container {
            max-width: 200px;
            margin-right: 16px;
        }
        .input-date-container {
            max-width: 296px;
            margin-right: 16px;
        }
        .filter-button-container {
            width: 100px;
            text-align: right;
            padding-top: 28px;
        }
    }
}

@media only screen and (min-width: 768px) {
    // container width 720px
    .form-container {
        .form-horizontal-group {
            label.col-form-label {
                text-align: right;
            }
        }
    }

    .filter-container {
        justify-content: flex-start;
        .input-container {
            max-width: 200px;
        }
    }
}

@media only screen and (min-width: 992px) {
    // container width 960px
    .filter-container {
        justify-content: flex-end;
        .input-container {
            max-width: 168px;
        }
        .filter-button-container {
            padding-top: 28px;
        }
    }
}

@media only screen and (min-width: 1200px) {
    // container width 1140px
    .filter-container {
        .input-container {
            max-width: 220px;
        }
    }
}

// for sign-up
.sign-up-field {
    .form-control {
        height: 6vh;
        min-height: 46px;
    }
}

// Form multi select
//===================================
.dropdown-multi-select-container {
    .dropdown-toggle {
        display: block;
        span.selected {
            padding: 4px;
            background: #eaeaea;
            border-radius: 4px;
            margin: 0 4px;
        }
    }
    .dropdown-toggle::after {
        position: absolute;
        top: 0;
        color: transparent;
    }
    .dropdown-menu {
        width: 100%;
        .dropdown-item {
            display: flex;
            align-items: center;
            i {
                margin-right: 16px;
            }
        }
    }
}
// <!-- <div class="col-md-6 dropdown-multi-select-container">
// <div class="dropdown show">
//     <a class="dropdown-toggle" id="dropdownMenuLink" data-bs-toggle="dropdown"
//         aria-haspopup="true" aria-expanded="false">
//         <div class="form-control">
//             <span *ngFor="let type of cloneBillTypeList">
//                 <ng-container *ngIf="type.IsSelected">
//                     <span class="selected">{{ type.text }}</span>
//                 </ng-container>
//             </span>
//         </div>
//     </a>
//     <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
//         <a *ngFor="let type of cloneBillTypeList" class="dropdown-item"
//             (click)="type.IsSelected = !type.IsSelected">
//             <span>
//                 <i *ngIf="!type.IsSelected" class="far fa-square"></i>
//                 <i *ngIf="type.IsSelected" class="fas fa-check-square"></i>
//                 <span>{{ type.text }}</span>
//             </span>
//         </a>
//     </div>
// </div>
// </div> -->

.address-container {
    display: flex;
    flex-wrap: wrap;
    background: #f2f7fb;
    padding: 8px;
    border-radius: 5px;
    font-size: 14px;
    span {
        width: 100%;
    }
    .header {
        font-weight: 500;
        display: flex;
    }
    .title {
        width: auto;
        // font-weight: 500;
    }
    .spacer {
        width: auto;
        margin-left: 4px;
    }
    .address-edit-icon {
        margin-left: auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
        padding: 2px 12px;
        color: cadetblue;
    }

    .address-location-container,
    .address-mail-container,
    .address-phone-container,
    .address-gst-container {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        .icon {
            width: 15%;
            font-size: 16px;
        }
        .value-label {
            color: #867e7e;
            text-transform: capitalize;
            word-break: break-word;
        }
    }
    .address-location-container {
        .icon {
            color: #795548;
        }
        .value-label {
            span {
                width: 100%;
                display: block;
            }
        }
    }
    .address-gst-container {
        .icon {
            color: #9e9e9e;
        }
        .value-label {
            font-weight: 500;
            text-transform: none;
        }
    }
    .address-mail-container {
        .icon {
            color: #e41f1f;
        }
        .value-label {
            text-transform: none;
        }
    }
    .address-phone-container {
        .icon {
            color: #009688;
        }
    }
}

.single-line-column {
    display: flex;
    // margin-bottom: 12px;
    .text-label {
        color: #868484;
    }
    .space-label {
        font-weight: 500;
        padding: 0 8px;
    }
    .value-label {
        font-weight: 500;
    }
}
.space-label {
    font-weight: 500;
    padding: 0 8px;
}

.disabled-field {
    pointer-events: none;
}

.calender-clear-icon {
    margin-left: auto;
    font-size: 14px;
    font-style: italic;
}

.muted-related-text {
    display: block;
    width: 100%;
    color: #abafbf;
    font-style: italic;
    font-size: 14px;
}

.tab-global-container {
    .nav {
        background: #ffff;

        // ul
        .nav-item {
            // box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
            background: #e9ecef;
            border: 0;
            // border-left: 1px solid #ccc;
            // border-right: 1px solid #cccc;
            .nav-link {
                position: relative;
                transition: all 0.5s linear;
                border-radius: 0;
                color: var(--app-primary-color);
                // &::after {
                //     position: absolute;
                //     bottom: 0;
                //     left: 0;
                //     width: 100%;
                //     height: 6px;
                //     background: #2cc185;
                //     content: "";
                //     -webkit-transition: -webkit-transform 0.3s;
                //     transition: transform 0.3s;
                //     -webkit-transform: translate3d(0, 150%, 0);
                //     transform: translate3d(0, 150%, 0);
                // }
                &.active {
                    border-radius: 0;
                    background-color: #fff;
                    color: inherit;

                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    // color: #cccccc;
                    // &::after {
                    //     transform: translate3d(0,0,0);
                    // }
                }
            }
        }
    }
    // .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    //     color: inherit;
    //     border-bottom: 5px solid #007bff;
    //     background: transparent;
    // }

    .tab-content {
        background: #ffff;
        padding: 8px;
    }
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.table-spinner {
    position: relative;
    background: #fff;
    border-radius: 10px;
    padding: 8px;
    overflow: hidden;
    max-height: 68vh;
    &:before {
        content: "";
        z-index: 2;
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        margin-left: -10px;
        border-radius: 50%;
        border: 2px solid #ccc;
        border-top-color: #000;
        animation: spinner 0.6s linear infinite;
    }
    &:after {
        content: "";
        box-sizing: border-box;
        position: absolute;
        height: 100%;
        width: 100%;
        display: block;
        top: 0;
        right: 0;
        background: #fff;
        // box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
        border-radius: 16px;
    }
}

.page-spinner {
    position: relative;
    background: #fff;
    border-radius: 10px;
    padding: 8px;
    overflow: hidden;
    max-height: 68vh;
    min-height: 68vh;
    &.full-height {
        height: 100%;
        position: absolute;
        width: 100%;
        /* height: 100%; */
        background: #fff;
        z-index: 5;
        max-height: 100%;
        border-radius: 0;
    }
    &:before {
        content: "";
        z-index: 2;
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        margin-left: -10px;
        border-radius: 50%;
        border: 2px solid #ccc;
        border-top-color: #000;
        animation: spinner 0.6s linear infinite;
    }
    &:after {
        content: "";
        box-sizing: border-box;
        position: absolute;
        height: 100%;
        width: 100%;
        display: block;
        top: 0;
        right: 0;
        background: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
        border-radius: 16px;
    }
}

.display-none {
    display: none;
}

.invalid-field-text {
    color: #c80000;
}

.custom-radio-button-container {
    display: flex;
    align-items: center;
    .custom-radio-button {
        height: 14px;
        width: 14px;
        border: 1px solid #ccc;
        display: block;
        border-radius: 50%;
        padding: 2px;
        .inner-box {
            background-color: #fff;
            height: 8px;
            width: 8px;
            border-radius: 50%;
            display: block;
            transition: background-color 0.25s linear;
        }
        &.active {
            border: 1px solid var(--bs-primary);
            .inner-box {
                background-color: var(--bs-primary);
            }
        }
    }
}
.custom-checkbox-container {
    display: flex;
    align-items: center;
    .custom-checkbox-button {
        position: relative;
        display: block;
        width: 16px;
        height: 16px;
        border: 1px solid #767676;
        border-radius: 0.125rem;
        // border-radius: 4px;
        margin-right: 8px;
        .tick-mark {
            position: absolute;
            top: -1px;
            left: 4px;
            width: 6px;
            height: 12px;
            border-right: 2px solid #fff;
            border-bottom: 2px solid #fff;
            border-top: 0px;
            border-left: 0px;
            transform: rotate(48deg);
        }
        &.active {
            border-color: var(--bs-primary); // ;
            background-color: var(--bs-primary);
        }
    }
}

    .inline-element{
        display: inline-block;
    }
    .right-align-btn{
        float: right;
    }
