<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title inline-element">Reports</h5>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <div class="d-flex">
            <div class="mr-auto p-2">
              <h5 class="card-title">
                <i class="fas fa-building mr-2"></i>
                <span>Department</span>
              </h5>
            </div>
            <span class="mt-4"><a [routerLink]="'app/view-report'">See More</a></span>
          </div>
        </div>
        <div class="card-body">
          <canvas id=chartDepartment width="400" height="100"></canvas>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-history"></i> Updated 3 minutes ago
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <div class="d-flex">
            <div class="mr-auto p-2">
              <h5 class="card-title">
                <i class="fas fa-building mr-2"></i>
                <span>Designation</span>
              </h5>
            </div>
            <span class="mt-4"><a [routerLink]="'app/view-report'">See More</a></span>
          </div>
        </div>
        <div class="card-body">
          <canvas id=chartEmployees width="400" height="150"></canvas>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-history"></i> Updated 3 minutes ago
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="row">
  <div class="col-md-6">
    <div class="card ">
      <div class="card-header ">
        <div class="d-flex">
          <div class="mr-auto p-2">
            <h5 class="card-title">
              <i class="fas fa-book mr-2"></i>
              <span>Learning Topics</span>
            </h5>
          </div>
          <span class="mt-4"><a [routerLink]="'app/view-report'">See More</a></span>
        </div>
      </div>
      <div class="card-body">
        <canvas id=chartDesignation width="400" height="300"></canvas>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-history"></i> Updated 1 minutes ago
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card ">
      <div class="card-header ">
        <div class="d-flex">
          <div class="mr-auto p-2">
            <h5 class="card-title">
              <i class="fas fa-user mr-2"></i>
              <span>Employees</span>
            </h5>
          </div>
          <span class="mt-4"><a [routerLink]="'app/view-report'">See More</a></span>
        </div>
      </div>
      <div class="card-body">
        <canvas id=chartEmail width="400" height="300"></canvas>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-history"></i> Updated 1 minutes ago
        </div>
      </div>
    </div>
  </div>
</div>