.modal-content{
  background-color: transparent;
  border: none;
  border-radius: 10px;
}
.transpreant-background{
  background-color: $white-color;
  border: 1px solid rgba(90, 89, 89, 0.527);
  border-radius: 10px;
}

.modal-backdrop{
  background-color: transparent;
}

.image-choose-container{
            border: 2px dashed $info-color;
            margin: 10px 0px;
            padding: 10px;
            cursor: pointer;
            align-items: center;
            display: block;
            overflow: hidden;
            transition: all 2s ease-in;
            
}

    .image-remove-icon {
            width: 100%;
            text-align: center;
                color: #ef2828;
                border-radius: 12%;
                cursor: pointer;
            
        }
  