// $table-th-background: #f6f9fc;
$table-th-text-color: #5f6061; //#8898aa;
$table-th-background: #d2e8fd;

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //
// * * * * * * * * * *Common Table  * * * *  * * * * * //
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //

.default-table {
    table {
        width: 100%;
        border: 2px solid $table-th-background;
        thead th {
            padding: 8px;
            color: $table-th-text-color;
            background-color: $table-th-background;
            font-weight: 600;
        }
        tbody td {
            padding: 8px;
            background-color: #ffffff;
        }
        tbody td.action-container {
            padding: 4px;
            .delete-container,
            .edit-container {
                padding: 4px 14px;
                border: 1px solid #a4c1cf;
                border-radius: 20px;
                display: inline-block;
                cursor: pointer;
                i {
                    margin-right: 8px;
                }
                box-shadow: none;
            }
        }
        // body
        .action-icon-container {
            text-align: center;
            .edit-container,
            .delete-container {
                line-height: 30px;
                width: 30px;
                height: 30px;
            }
            .delete-container {
                color: #fa636a;
                border-color: #fa636a;
                background-color: rgba(250, 99, 106, 0.1);
                // color: #bfbbbb;
                // border-color: #dcd8d8;
                box-shadow: none;
                &:hover {
                    box-shadow: none;
                }
            }
            .edit-container {
                margin-right: 4px;
                // color: green;
                // border-color: green;
                color: #45a049;
                border-color: #45a049;
                background-color: rgba(69, 160, 73, 0.1);
                box-shadow: none;
                &:hover {
                    box-shadow: none;
                }
            }
        }
        .td-product-container {
            .td-content-container {
                text-align: left;
            }
        }
        .td-category-container {
            .td-content-container {
                text-align: center;
            }
        }
        .td-quantity-container {
            .td-content-container {
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                input {
                    min-width: 100px;
                    max-width: 100px;
                }
                .uom-label {
                    padding-left: 8px;
                }
            }
        }
    }
}

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //
// * * * * * * * * * Purchase Table  * * * *  * * * * * //
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //
// * * * * * * * * * * * * *Stock Table * * * *  * * * * * //
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //

.inventory-stock-table {
    // header
    .action-header {
        width: 8%;
        text-align: center;
    }
    .product-header {
        width: 40%;
    }
    .category-header {
        width: 20%;
        text-align: center;
    }
    .quantity-header {
        width: 10%;
    }
    .remove-header {
        width: 8%;
    }
}
